body{
    display: grid;
    justify-content: center;
    background:grey;
    background:linear-gradient(to left,pink,white);
    font-family:'family-forte', serif;
}

#box{
    border: 2px solid black;
    width: 700px;
    display: grid;
    justify-content: center;
    background-color: white;
}
h1{
    display: flex;
    justify-content: center;
}
#container2{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.btn{
    background-color:white;
    margin: 6px;
    width: 168px;
    height: 31px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid;
}
#container2 input{
    width: 255px;
    border: 2px solid;
    border-radius: 9px;
    font-size: 20px;
}

#edit,#addbtn{
    background-color: rgb(70, 244, 70);
}
table{
    background-color: white;
}
td{
    border:1px solid;
    font-size: 18px;
}

#editbtn,#delebtn{
    text-decoration: none;
    border: none;
    color: red;
    background-color: white;
    font-size: 18px;
}
#editbtn{
    color:green;
}

#delebtn:hover{
    color: rgb(249, 147, 147);
}
#editbtn:hover{
    color: rgb(157, 114, 249);
}
